@use "../globals/breakpoints" as *;

.about {
  padding-bottom: 2rem;

  .grid {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-self: center;
    align-items: center;
    padding-right: 1rem;
    text-align: center;
    margin-top: 1.5rem;

    @include breakpoint(medium) {
      text-align: left;
      align-items: flex-start;
      margin-top: 0;
    }
  }
  .name {
    color: hsl(var(--c-text-light));
  }
  .title {
    color: hsl(var(--c-accent-main-medium));
    margin-bottom: 0.5rem;
  }
  .description {
    max-width: 40ch;
  }
  .history {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;
    max-width: 40ch;
    margin-inline: auto;
    border-top: 2px solid hsl(var(--c-text-medium) / 25%);
    border-bottom: 2px solid hsl(var(--c-text-medium) / 25%);
    @include breakpoint(medium) {
      grid-column: 1 / span 2;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      text-align: left;
      max-width: unset;
    }
  }
  .image-container {
    background: hsl(var(--c-bg-medium) / 10%);
    width: 15rem;
    padding-top: 5rem;
    order: -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: center;

    @include breakpoint(medium) {
      order: 0;
      justify-self: flex-end;
    }

    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    img {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
