$animation-duration: 100000ms;
$start-rotation: 100deg;

:root {
  --shape-size: min(80vmax, 70rem);
}

.background-animation {
  background: linear-gradient(
    135deg,
    hsl(var(--c-accent-light)),
    hsl(var(--c-accent-medium))
  );
  background-attachment: fixed;
  background-size: 100% max(100vh, 20rem);

  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;

  .pivot {
    position: absolute;
    right: 50%;
    bottom: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: pivot;
    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .shape {
    position: absolute;
    width: var(--shape-size);
    height: var(--shape-size);
    border-radius: 50%;
    opacity: 50%;

    background: linear-gradient(
      135deg,
      hsl(var(--c-accent-light)),
      hsl(var(--c-accent-medium))
    );
    background-attachment: fixed;
    background-size: 100% 100%;

    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .shape-1 {
    animation-name: shape-1;
  }
  .shape-2 {
    animation-name: shape-2;
  }
  .shape-3 {
    animation-name: shape-3;
  }
  .shape-4 {
    animation-name: shape-4;
  }
}

@keyframes pivot {
  0% {
    transform: rotate($start-rotation);
  }
  100% {
    transform: rotate(calc($start-rotation + 360deg));
  }
}
@keyframes shape-1 {
  0% {
    transform: translateX(calc(var(--shape-size) * -0.52))
      rotate(calc($start-rotation * -1));
  }
  100% {
    transform: translateX(calc(var(--shape-size) * -0.52))
      rotate(calc($start-rotation * -1 - 360deg));
  }
}
@keyframes shape-2 {
  0% {
    transform: translateX(calc(var(--shape-size) * 0.52))
      rotate(calc($start-rotation * -1));
  }
  100% {
    transform: translateX(calc(var(--shape-size) * 0.52))
      rotate(calc($start-rotation * -1 - 360deg));
  }
}
@keyframes shape-3 {
  0% {
    transform: translateY(calc(var(--shape-size) * -0.9))
      rotate(calc($start-rotation * -1));
  }
  100% {
    transform: translateY(calc(var(--shape-size) * -0.9))
      rotate(calc($start-rotation * -1 - 360deg));
  }
}
@keyframes shape-4 {
  0% {
    transform: translateY(calc(var(--shape-size) * 0.9))
      rotate(calc($start-rotation * -1));
  }
  100% {
    transform: translateY(calc(var(--shape-size) * 0.9))
      rotate(calc($start-rotation * -1 - 360deg));
  }
}
