.contact {
  padding-top: 1rem;
  padding-bottom: 4rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  .background-animation {
    z-index: -1;
  }
  .section-title {
    margin-bottom: 2rem;
    &::after {
      background-color: hsl(var(--c-text-light));
    }
  }
  p {
    text-align: center;
    margin-bottom: 0.25em;
    max-width: 50ch;
    margin-inline: auto;
  }
  a {
    display: block;
    width: 3rem;
    margin-inline: auto;
    margin-top: 1rem;
  }
}
