@use "../globals/breakpoints" as *;

.gamedev {
  padding-bottom: 3rem;
  text-align: center;

  h2 {
    color: hsl(var(--c-accent-main-medium));

    @include breakpoint(medium) {
      font-size: var(--fs-700);
    }
  }
  .description {
    margin-bottom: 0.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    @include breakpoint(small) {
      grid-template-columns: 1fr 1fr;
    }
  }
  video {
    aspect-ratio: 1.5;
    object-fit: cover;
    cursor: pointer;
    background: black;
    border-radius: 0.125rem;
  }
}
