@use "../globals/breakpoints" as *;

.gamedev {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
  }
  .description {
    margin-bottom: 0.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    @include breakpoint(small) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
