@use "../globals/breakpoints" as *;
@use "../globals/utils" as *;

.gamedev {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
  }
  .description {
    margin-bottom: 0.25rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    @include breakpoint(small) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .links-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;

    a {
      @include fade(125ms);

      margin-top: 0.5em;
      text-align: center;
      color: hsl(var(--c-text-main));
      padding-bottom: 2px;
      border-bottom: 3px solid hsl(var(--c-accent-medium));
      &:hover {
        color: hsl(var(--c-accent-bright));
        border-color: hsl(var(--c-accent-bright));
      }
    }
  }
}
