:root {
  --header-height: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: var(--header-height);

  padding-inline: 1.25rem;

  & > * {
    position: relative;
    z-index: 5;
  }

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% var(--header-height),
    0% var(--header-height)
  );
  background: linear-gradient(
    135deg,
    hsl(var(--c-accent-main-high)),
    hsl(var(--c-accent-main-low))
  );
  background-attachment: fixed;
  background-size: 100% max(100vh, 20rem);

  nav {
    display: flex;
    gap: 1.5rem;
  }

  & *::selection {
    color: hsl(var(--c-text-light));
    background-color: hsl(var(--c-accent-main-low));
  }
}
