.header-background {
  background: linear-gradient(
    135deg,
    hsl(var(--c-accent-main-high)),
    hsl(var(--c-accent-main-low))
  );
  background-attachment: fixed;
  background-size: 100% max(100vh, 20rem);
}
