@use "../globals/breakpoints" as *;

:root {
  --hero-height: 15rem;
}

.hero {
  height: calc(100vh - var(--header-height));
  min-height: 18rem;
  width: 100%;
  position: relative;
  z-index: 2;

  .greeting {
    @include breakpoint(medium) {
      font-size: var(--fs-900);
    }
  }
  .title {
    @include breakpoint(medium) {
      font-size: var(--fs-700);
    }
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: max(
      calc((50vh - calc(var(--hero-height) * 0.5) - var(--header-height))),
      0px
    );

    height: var(--hero-height);

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0.25rem;
      width: 100%;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    a {
      margin-top: 1rem;
      color: hsl(var(--c-text-dark));
      background: hsl(var(--c-bg-light));
      text-decoration: none;
      padding: 0.6rem 1rem 0.5rem 1rem;
      border-radius: 0.25rem;

      box-shadow: 2px 2px 8px hsl(0 0% 0% / 25%);

      transition: transform 100ms ease-out;
      &:hover {
        transform: translateY(-0.1rem);
      }
    }
  }

  & *::selection {
    color: hsl(var(--c-accent-main-low));
    background-color: hsl(var(--c-bg-light));
  }
  .icon {
    position: absolute;
    width: 3rem;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 5;

    animation-name: header-arrow-bounce;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

$width: 0.9;
@keyframes header-arrow-bounce {
  0% {
    transform: scaleX($width) translateY(0);
  }
  50% {
    transform: scaleX($width) translateY(0.5rem);
  }
  100% {
    transform: scaleX($width) translateY(0);
  }
}
