.icon {
  mask-size: cover;
  mask-position: center;

  position: relative;
  .blend {
    width: 100%;
    height: 100%;
    position: absolute;

    transition: background-color 75ms ease-out;
    background-color: white;
  }
}
