@use "../globals/breakpoints" as *;
@use "../globals/utils" as *;

.projects {
  padding-bottom: 3rem;

  h2 {
    margin-top: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include breakpoint(small) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  .project-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;

    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid hsl(var(--c-border-main));
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
    @include breakpoint(tiny) {
      padding-bottom: 0.5rem;
    }
    @include breakpoint(small) {
      border-bottom: none;
      padding-bottom: 0;
    }

    &.featured {
      grid-column: 1;

      @include breakpoint(small) {
        grid-column: 1 / span 2;
      }
      @include breakpoint(tiny) {
        .links-container:hover a {
          transition: transform 250ms ease-out, opacity 250ms ease-out 100ms;
        }
      }
    }
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 0.5em;

      .tags-container {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .tag {
          font-size: var(--fs-200);
          @include breakpoint(medium) {
            font-size: var(--fs-300);
          }
          color: hsl(var(--c-accent-neutral));
          border: 1px solid hsl(var(--c-accent-neutral));
          border-radius: 2px;
          padding: 2px 4px;
          &.bold {
            color: hsl(var(--c-accent-bright));
            border-color: hsl(var(--c-accent-bright));
          }
        }
      }
    }
    img,
    .links-container {
      border-radius: 0.125rem;
    }
    img {
      border: 1px solid hsl(var(--c-border-main));
      border-radius: 0.125rem;
      aspect-ratio: 1.5;
      object-fit: cover;
      object-position: center;
    }
    .description {
      margin-bottom: 0.5em;
      strong {
        color: hsl(var(--c-accent-bright));
      }
    }

    .links-container {
      margin-top: auto;
      display: flex;
      gap: 1rem;
      a {
        @include fade(125ms);

        margin-top: 0.5em;
        text-align: center;
        color: hsl(var(--c-text-main));
        padding-bottom: 2px;
        border-bottom: 3px solid hsl(var(--c-accent-medium));
        &:hover {
          color: hsl(var(--c-accent-bright));
          border-color: hsl(var(--c-accent-bright));
        }
      }

      @include breakpoint(tiny) {
        position: absolute;
        width: 100%;
        aspect-ratio: 1.5;
        margin: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          pointer-events: none;
          width: unset;
          background: transparent;
          color: hsl(var(--c-text-light));
          position: absolute;
          left: -100vw;
          transform: translateX(-100%);
          opacity: 0;
          transition: transform 55ms ease-out, opacity 55ms ease-out,
            color 55ms ease-out, border-color 55ms ease-out;
        }

        @include fade(75ms);
        background-color: transparent;
        &:hover {
          @include fade(200ms);
          background-color: hsl(var(--c-accent-dark) / 85%);

          a {
            pointer-events: all;
            left: 0;
            right: 0;
            width: 8ch;
            margin-inline: auto;
            transform: translateX(0);
            opacity: 1;

            &:nth-child(1) {
              margin-bottom: 3em;
              transition: transform 250ms ease-out, opacity 250ms ease-out 150ms,
                color 75ms ease-out, border-color 75ms ease-out;
            }
            &:nth-child(2) {
              margin-top: 3em;
              transition: transform 250ms ease-out 100ms,
                opacity 250ms ease-out 250ms, color 75ms ease-out,
                border-color 75ms ease-out;
            }
          }
        }
      }
    }
  }
}
