@use "../globals/breakpoints" as *;
@use "../globals/utils" as *;

.skills {
  padding-bottom: 4rem;
  z-index: 3;

  h2 {
    text-align: center;
    color: hsl(var(--c-accent-main-medium));
    margin-bottom: 1.5rem;

    @include breakpoint(medium) {
      font-size: var(--fs-700);
    }
  }
  & > p {
    margin-top: 1rem;
    text-align: center;

    a {
      color: hsl(var(--c-text-medium-light));
      text-decoration: none;
      @include fadeColor(75ms);

      &:hover {
        color: hsl(var(--c-accent-main-medium));
      }
    }
  }

  .grid {
    $gap-size: 1rem;

    display: grid;
    gap: $gap-size;

    border-radius: 0.5rem;

    --column-count: 3;
    grid-template-columns: repeat(3, calc((33.333% - ($gap-size * 2 / 3))));
    @include breakpoint(small) {
      --column-count: 4;
      grid-template-columns: repeat(4, calc(25% - ($gap-size * 3 / 4)));
    }
  }

  //SkillCell
  .skill-cell {
    border: 2px dashed hsl(var(--c-text-medium));
    padding: 1px;
    border-radius: 0.25rem;
    height: 100%;

    transition: border-color 250ms ease-out;
    &.attention-grabber {
      .skill-element span {
        color: hsl(var(--c-accent-main-low));
      }
      .skill-element .blend {
        background-color: hsl(var(--c-accent-main-low));
      }
      border-color: hsl(var(--c-accent-main-low));
    }
    position: relative;
    .attention-grabber {
      pointer-events: none;
      position: absolute;
      top: -3rem;
      width: 10ch;
      left: 0;
      right: 0;
      margin-inline: auto;

      display: flex;
      justify-content: center;

      text-align: center;
      padding: 0.15em;
      border-radius: 0.3rem;

      font-size: var(--fs-400);
      background-color: hsl(var(--c-accent-main-low));

      transition: opacity 75ms ease-out;
      &.hide {
        opacity: 0;
      }

      animation-name: bounce;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        border: 0.75rem solid transparent;
        border-top: 0.75rem solid hsl(var(--c-accent-main-low));
        transform: scaleX(0.5) translateY(-1px);
      }
    }

    //hover & grab states
    body:not(.grabbing) & {
      cursor: grab;
    }
    body:not(.grabbing) &:hover .blend {
      background-color: hsl(var(--c-accent-main-medium));
    }
    body:not(.grabbing) &:hover span {
      color: hsl(var(--c-accent-main-medium));
    }
  }

  //Grabbed SkillElement
  .grabbed-skill {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    .skill-element {
      box-shadow: 0 0 8px hsl(0 0% 0% / 25%);
    }
  }

  //SkillElement
  .skill-element {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    color: hsl(var(--c-text-medium-light));
    background-color: hsl(var(--c-accent-dark-high));
    border-radius: 0.25rem;

    pointer-events: none;
    touch-action: none;
    user-select: none;
    & * {
      user-select: none;
      touch-action: none;
      pointer-events: none;
    }
    &.hidden {
      display: none;
    }

    //default colors
    .blend {
      transition: background-color 75ms ease-out;
      background-color: hsl(var(--c-text-medium));
    }
    span {
      transition: color 75ms ease-out;
      font-size: var(--fs-300);
      @include breakpoint(medium) {
        font-size: var(--fs-400);
      }
    }
    //grab states
    &.grabbed .blend {
      background: linear-gradient(
        hsl(var(--c-accent-main-medium)),
        hsl(var(--c-accent-main-low))
      );
    }
    &.grabbed span {
      color: hsl(var(--c-accent-main-low));
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
