*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --c-bg-light: 0 0% 98%;
  --c-bg-medium: 0 0% 59%;
  --c-bg-dark: 237 10% 16%;
  --c-text-dark: 209 48% 24%;
  --c-text-medium: 209 12% 50%;
  --c-text-medium-light: 209 12% 75%;
  --c-text-light: 0 0% 100%;
  --c-accent-main-high: 20 100% 72%;
  --c-accent-main-medium: 10 100% 72%;
  --c-accent-main-low: 353 100% 62%;
  --c-accent-dark-high: 237 20% 22%;
  --c-accent-dark-low: 237 17% 21%;
}

.c-text-light {
  color: hsl(var(--c-text-light));
}

.c-text-medium {
  color: hsl(var(--c-text-medium));
}

.c-text-dark {
  color: hsl(var(--c-text-dark));
}

.c-text-light-75 {
  color: hsl(var(--c-text-light)/75%);
}

.c-text-light-50 {
  color: hsl(var(--c-text-light)/50%);
}

:root {
  --ff-body: "Rubik", sans-serif;
  --ff-header: "Jost", sans-serif;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --fs-900: 4rem;
}

.text-h-l {
  font-family: var(--ff-header);
  font-size: var(--fs-800);
  font-weight: 700;
  line-height: 1.25;
}

.text-h-m {
  font-family: var(--ff-header);
  font-size: var(--fs-600);
  font-weight: 700;
  line-height: 1.25;
}

.text-h-s {
  font-family: var(--ff-header);
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-b-m {
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  font-weight: 400;
  line-height: 1.35;
}

.text-b-s {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: hsl(var(--c-accent-main-high)) hsl(var(--c-accent-dark-low));
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(86deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
}
html::-webkit-scrollbar-track {
  background: hsl(var(--c-accent-dark-low));
}

body {
  font-family: var(--ff-body);
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 14%);
  overflow-x: hidden;
  min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}

*::-moz-selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-medium));
}

*::selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-medium));
}

section {
  position: relative;
  z-index: 2;
  background: hsl(var(--c-bg-dark));
}

.scroll-destination {
  height: var(--header-height);
}

.transparent {
  background: transparent;
}

.unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.uppercase {
  text-transform: uppercase;
}

.padded-container {
  width: 100%;
  max-width: 50rem;
  padding-inline: 3rem;
  margin-inline: auto;
}

.grabbing {
  cursor: grabbing;
}

:root {
  --header-height: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 100%;
  z-index: 100;
  height: var(--header-height);
}
.header > * {
  position: relative;
  z-index: 5;
}
.header .background-animation {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% var(--header-height), 0% var(--header-height));
          clip-path: polygon(0% 0%, 100% 0%, 100% var(--header-height), 0% var(--header-height));
}
.header span {
  position: relative;
  z-index: 2;
}
.header .nav-dropdown-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 0.25rem;
}
@media (min-width: 40em) {
  .header .nav-dropdown-button {
    display: none;
  }
}
.header .nav-dropdown-button button {
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 1.5rem;
  height: 0.15rem;
  border-radius: 1rem;
  border: none;
  background-color: hsl(var(--c-bg-light));
  transition: transform 175ms ease-out background-color 175ms ease-out;
}
.header .nav-dropdown-button button::before, .header .nav-dropdown-button button::after {
  content: "";
  width: 1.5rem;
  height: 0.15rem;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(var(--c-bg-light));
  transition: transform 175ms ease-out;
}
.header .nav-dropdown-button button::before {
  transform: translateY(-0.5rem);
}
.header .nav-dropdown-button button::after {
  transform: translateY(0.5rem);
}
.header .nav-dropdown-button.active button {
  background-color: hsl(var(--c-bg-light)/0%);
  transform: rotate(45deg);
}
.header .nav-dropdown-button.active button::before {
  transform: translateY(0) rotate(-90deg) scaleY(2) scaleX(1.25);
}
.header .nav-dropdown-button.active button::after {
  transform: translateY(0) scaleY(2) scaleX(1.25);
}
.header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 1.5rem;
  background-color: hsl(var(--c-bg-dark)/90%);
  transform: translateY(-100%);
}
.header nav a {
  font-size: var(--fs-500);
  transform: translateX(-70vw);
  color: hsl(var(--c-text-light));
  text-decoration: none;
  position: relative;
  transition: color 250ms ease-out 0ms, background-color 250ms ease-out 0ms, transform 250ms ease-out 0ms;
}
.header nav a:hover {
  color: hsl(var(--c-text-light));
}
.header nav a:hover::after {
  transition: color 250ms ease-out 0ms, background-color 250ms ease-out 0ms, transform 250ms ease-out 0ms;
  transform: scaleX(100%);
}
.header nav a::after {
  transition: color 0ms ease-out 75ms, background-color 0ms ease-out 75ms, transform 0ms ease-out 75ms;
  content: "";
  position: absolute;
  left: -0.5ch;
  top: 40%;
  z-index: -1;
  width: calc(100% + 1ch);
  height: 0.75rem;
  background-color: hsl(var(--c-text-light)/15%);
  transform: scaleX(0%);
  transform-origin: left;
}
@media (min-width: 40em) {
  .header nav {
    flex-direction: row;
    background: none;
    transform: translateY(0);
    height: unset;
    width: unset;
    position: initial;
  }
  .header nav a {
    font-size: var(--fs-400);
    transform: translateX(0);
    transition: color 250ms ease-out 0ms, background-color 250ms ease-out 0ms;
    color: hsl(var(--c-text-light)/50%);
  }
  .header nav a:hover {
    color: hsl(var(--c-text-light));
  }
}
.header nav.active {
  transition: transform 350ms ease-out;
  transform: translateY(0);
}
.header nav.active a {
  transform: translateX(0);
}
.header nav.active a:nth-child(1) {
  transition-delay: 275ms;
}
.header nav.active a:nth-child(2) {
  transition-delay: 350ms;
}
.header nav.active a:nth-child(3) {
  transition-delay: 425ms;
}
.header nav.active a:nth-child(4) {
  transition-delay: 500ms;
}
.header nav.active a:nth-child(5) {
  transition-delay: 575ms;
}
.header *::-moz-selection {
  color: hsl(var(--c-accent-main-low));
  background-color: hsl(var(--c-bg-light));
}
.header *::selection {
  color: hsl(var(--c-accent-main-low));
  background-color: hsl(var(--c-bg-light));
}

:root {
  --hero-height: 15rem;
}

.hero {
  height: calc(100vh - var(--header-height));
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 55em) {
  .hero .greeting {
    font-size: var(--fs-900);
  }
}
@media (min-width: 55em) {
  .hero .title {
    font-size: var(--fs-700);
  }
}
.hero .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: max(50vh - var(--hero-height) * 0.5 - var(--header-height), 0px);
  height: var(--hero-height);
}
.hero .main-container::before, .hero .main-container::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
}
.hero .main-container::before {
  top: 0;
}
.hero .main-container::after {
  bottom: 0;
}
.hero .main-container a {
  margin-top: 1rem;
  color: hsl(var(--c-text-dark));
  background: hsl(var(--c-bg-light));
  text-decoration: none;
  padding: 0.6rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.25);
  transition: transform 100ms ease-out;
}
.hero .main-container a:hover {
  transform: translateY(-0.1rem);
}
.hero *::-moz-selection {
  color: hsl(var(--c-accent-main-low));
  background-color: hsl(var(--c-bg-light));
}
.hero *::selection {
  color: hsl(var(--c-accent-main-low));
  background-color: hsl(var(--c-bg-light));
}

.about {
  padding-bottom: 2rem;
}
.about .grid {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
@media (min-width: 55em) {
  .about .grid {
    grid-template-columns: 1fr 1fr;
  }
}
.about .text-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-right: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  max-width: 40ch;
  margin-inline: auto;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 55em) {
  .about .text-container {
    text-align: left;
    align-items: flex-start;
    margin-top: 0;
    max-width: unset;
  }
}
.about .text-container:hover + .image-container > .large-circle {
  transition: transform 150ms cubic-bezier(0, 0.22, 0.28, 2.05);
  transform: translateX(50%) scale(0.9);
}
@media (min-width: 55em) {
  .about .text-container:hover + .image-container > .large-circle {
    transform: translateX(-50%) scale(0.9);
  }
}
.about .name {
  color: hsl(var(--c-text-light));
}
.about .title {
  color: hsl(var(--c-accent-main-medium));
  margin-bottom: 0.5rem;
}
.about .description {
  max-width: 40ch;
}
.about .history {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  max-width: 40ch;
  margin-inline: auto;
  border-top: 2px solid hsl(var(--c-text-medium)/25%);
  border-bottom: 2px solid hsl(var(--c-text-medium)/25%);
}
@media (min-width: 55em) {
  .about .history {
    grid-column: 1/span 2;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
    max-width: unset;
  }
}
.about .history a {
  color: hsl(var(--c-text-medium-light));
  text-decoration: none;
  transition: color 75ms ease-out 0ms, background-color 75ms ease-out 0ms;
}
.about .history a:hover {
  color: hsl(var(--c-accent-main-medium));
}
.about .image-container {
  width: 15rem;
  padding-top: 5rem;
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: center;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 55em) {
  .about .image-container {
    order: 0;
    justify-self: flex-end;
  }
}
.about .image-container img {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  position: relative;
  z-index: 2;
}
.about .image-container .background {
  width: 100%;
  height: 100%;
  background: hsl(var(--c-bg-medium)/7%);
  position: absolute;
  z-index: 1;
}
.about .image-container .small-circle,
.about .image-container .large-circle {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -5;
  aspect-ratio: 1;
  border-radius: 50rem;
  -webkit-clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
  transition: transform 100ms ease-in;
}
.about .image-container .small-circle {
  width: 50%;
  border: 12px solid hsl(var(--c-text-medium)/15%);
  transform: translateX(-50%);
  -webkit-clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
  bottom: 50%;
}
@media (min-width: 55em) {
  .about .image-container .small-circle {
    bottom: 0;
    width: 75%;
  }
}
.about .image-container .large-circle {
  width: 100%;
  border: 4px solid hsl(var(--c-text-medium-light)/15%);
  transform: translateX(50%);
  right: 0;
  top: 25%;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 50% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 50% 0%);
}
@media (min-width: 55em) {
  .about .image-container .large-circle {
    width: 150%;
    transform: translateX(-50%);
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
            clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
  }
}
.about .image-container:hover .small-circle {
  transition: transform 150ms cubic-bezier(0, 0.22, 0.28, 2.05);
  transform: translateX(-50%) scale(0.8);
}

:root {
  --shape-size: min(80vmax, 70rem);
}

.background-animation {
  background: linear-gradient(135deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
  background-attachment: fixed;
  background-size: 100% max(100vh, 20rem);
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.background-animation .pivot {
  position: absolute;
  right: 50%;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: pivot;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.background-animation .shape {
  position: absolute;
  width: var(--shape-size);
  height: var(--shape-size);
  border-radius: 50%;
  opacity: 50%;
  background: linear-gradient(135deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
  background-attachment: fixed;
  background-size: 100% 100%;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.background-animation .shape-1 {
  animation-name: shape-1;
}
.background-animation .shape-2 {
  animation-name: shape-2;
}
.background-animation .shape-3 {
  animation-name: shape-3;
}
.background-animation .shape-4 {
  animation-name: shape-4;
}

@keyframes pivot {
  0% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(460deg);
  }
}
@keyframes shape-1 {
  0% {
    transform: translateX(calc(var(--shape-size) * -0.52)) rotate(-100deg);
  }
  100% {
    transform: translateX(calc(var(--shape-size) * -0.52)) rotate(-460deg);
  }
}
@keyframes shape-2 {
  0% {
    transform: translateX(calc(var(--shape-size) * 0.52)) rotate(-100deg);
  }
  100% {
    transform: translateX(calc(var(--shape-size) * 0.52)) rotate(-460deg);
  }
}
@keyframes shape-3 {
  0% {
    transform: translateY(calc(var(--shape-size) * -0.9)) rotate(-100deg);
  }
  100% {
    transform: translateY(calc(var(--shape-size) * -0.9)) rotate(-460deg);
  }
}
@keyframes shape-4 {
  0% {
    transform: translateY(calc(var(--shape-size) * 0.9)) rotate(-100deg);
  }
  100% {
    transform: translateY(calc(var(--shape-size) * 0.9)) rotate(-460deg);
  }
}
.skills {
  padding-bottom: 4rem;
  z-index: 3;
}
.skills h2 {
  text-align: center;
  color: hsl(var(--c-accent-main-medium));
  margin-bottom: 1.5rem;
}
@media (min-width: 55em) {
  .skills h2 {
    font-size: var(--fs-700);
  }
}
.skills > p {
  margin-top: 1rem;
  text-align: center;
}
.skills > p a {
  color: hsl(var(--c-text-medium-light));
  text-decoration: none;
  transition: color 75ms ease-out 0ms, background-color 75ms ease-out 0ms;
}
.skills > p a:hover {
  color: hsl(var(--c-accent-main-medium));
}
.skills .grid {
  display: grid;
  gap: 1rem;
  border-radius: 0.5rem;
  --column-count: 3;
  grid-template-columns: repeat(3, calc(33.333% - 0.6666666667rem));
}
@media (min-width: 40em) {
  .skills .grid {
    --column-count: 4;
    grid-template-columns: repeat(4, calc(25% - 0.75rem));
  }
}
.skills .skill-cell {
  border: 2px dashed hsl(var(--c-text-medium));
  padding: 1px;
  border-radius: 0.25rem;
  height: 100%;
}
body:not(.grabbing) .skills .skill-cell {
  cursor: grab;
}
body:not(.grabbing) .skills .skill-cell:hover .blend {
  background-color: hsl(var(--c-accent-main-medium));
}
body:not(.grabbing) .skills .skill-cell:hover span {
  color: hsl(var(--c-accent-main-medium));
}
.skills .grabbed-skill {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.25);
}
.skills .skill-element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: hsl(var(--c-text-medium-light));
  background-color: hsl(var(--c-accent-dark-high));
  border-radius: 0.25rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.skills .skill-element * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.skills .skill-element.hidden {
  display: none;
}
.skills .skill-element .blend {
  transition: background-color 75ms ease-out;
  background-color: hsl(var(--c-text-medium));
}
.skills .skill-element span {
  transition: color 75ms ease-out;
  font-size: var(--fs-300);
}
@media (min-width: 55em) {
  .skills .skill-element span {
    font-size: var(--fs-400);
  }
}
.skills .skill-element.grabbed .blend {
  background: linear-gradient(hsl(var(--c-accent-main-medium)), hsl(var(--c-accent-main-low)));
}
.skills .skill-element.grabbed span {
  color: hsl(var(--c-accent-main-low));
}

.icon {
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  position: relative;
}
.icon .blend {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}/*# sourceMappingURL=main.css.map */