*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --c-bg-light: 0 0% 98%;
  --c-bg-medium: 0 0% 59%;
  --c-bg-dark: 237 10% 16%;
  --c-text-dark: 209 48% 24%;
  --c-text-medium: 209 12% 34%;
  --c-text-light: 0 0% 100%;
  --c-accent-main-high: 12 100% 72%;
  --c-accent-main-low: 353 100% 62%;
  --c-accent-dark-high: 237 23% 31%;
  --c-accent-dark-low: 237 17% 21%;
}

.c-text-light {
  color: hsl(var(--c-text-light));
}

.c-text-medium {
  color: hsl(var(--c-text-medium));
}

.c-text-dark {
  color: hsl(var(--c-text-dark));
}

.c-text-light-75 {
  color: hsl(var(--c-text-light)/75%);
}

.c-text-light-50 {
  color: hsl(var(--c-text-light)/50%);
}

:root {
  --ff-body: "Rubik", sans-serif;
  --ff-header: "Jost", sans-serif;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --fs-900: 4rem;
}

.text-h-l {
  font-family: var(--ff-header);
  font-size: var(--fs-900);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.text-h-m {
  font-family: var(--ff-header);
  font-size: var(--fs-700);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.text-h-s {
  font-family: var(--ff-header);
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-b-m {
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  font-weight: 400;
  line-height: 1.35;
}

.text-b-s {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: hsl(var(--c-accent-main-high)) hsl(var(--c-accent-dark-low));
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(86deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
}
html::-webkit-scrollbar-track {
  background: hsl(var(--c-accent-dark-low));
}

body {
  font-family: var(--ff-body);
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 14%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}

*::-moz-selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-high));
}

*::selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-high));
}

.scroll-destination {
  height: var(--header-height);
}

.block {
  position: relative;
  z-index: 2;
  background: hsl(var(--c-bg-dark));
}

nav a {
  text-decoration: none;
  position: relative;
  transition: color 250ms ease-out 0ms, background-color 250ms ease-out 0ms, transform 250ms ease-out 0ms;
}
nav a::after {
  transition: color 0ms ease-out 75ms, background-color 0ms ease-out 75ms, transform 0ms ease-out 75ms;
  content: "";
  position: absolute;
  left: -0.5ch;
  top: 40%;
  z-index: -1;
  width: calc(100% + 1ch);
  height: 0.75rem;
  background-color: hsl(var(--c-text-light)/15%);
  transform: scaleX(0%);
  transform-origin: left;
}
nav a:hover {
  color: hsl(var(--c-text-light));
}
nav a:hover::after {
  transition: color 250ms ease-out 0ms, background-color 250ms ease-out 0ms, transform 250ms ease-out 0ms;
  transform: scaleX(100%);
}

.hero a {
  color: hsl(var(--c-text-medium));
  background: hsl(var(--c-bg-light));
  text-decoration: none;
  padding: 0.6rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.25);
  transition: transform 100ms ease-out;
}
.hero a:hover {
  transform: translateY(-0.1rem);
}

:root {
  --header-height: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: var(--header-height);
  padding-inline: 1.25rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% var(--header-height), 0% var(--header-height));
          clip-path: polygon(0% 0%, 100% 0%, 100% var(--header-height), 0% var(--header-height));
  background: linear-gradient(135deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
  background-attachment: fixed;
  background-size: 100% max(100vh, 20rem);
}
.header > * {
  position: relative;
  z-index: 5;
}
.header nav {
  display: flex;
  gap: 1.5rem;
}
.header *::-moz-selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-low));
}
.header *::selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-low));
}

:root {
  --hero-height: 15rem;
}

.hero {
  height: calc(100vh - var(--header-height));
  width: 100%;
  position: relative;
  z-index: 2;
}
.hero .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: max(50vh - var(--hero-height) * 0.5 - var(--header-height), 0px);
  height: var(--hero-height);
}
.hero .main-container::before, .hero .main-container::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
}
.hero .main-container::before {
  top: 0;
}
.hero .main-container::after {
  bottom: 0;
}
.hero .main-container a {
  margin-top: 1rem;
}
.hero *::-moz-selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-low));
}
.hero *::selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-low));
}

:root {
  --shape-size: min(80vmax, 70rem);
}

.background-animation {
  background: linear-gradient(135deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
  background-attachment: fixed;
  background-size: 100% max(100vh, 20rem);
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.background-animation .pivot {
  position: absolute;
  right: 50%;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: pivot;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.background-animation .shape {
  position: absolute;
  width: var(--shape-size);
  height: var(--shape-size);
  border-radius: 50%;
  opacity: 50%;
  background: linear-gradient(135deg, hsl(var(--c-accent-main-high)), hsl(var(--c-accent-main-low)));
  background-attachment: fixed;
  background-size: 100% 100%;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.background-animation .shape-1 {
  animation-name: shape-1;
}
.background-animation .shape-2 {
  animation-name: shape-2;
}
.background-animation .shape-3 {
  animation-name: shape-3;
}
.background-animation .shape-4 {
  animation-name: shape-4;
}

@keyframes pivot {
  0% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(460deg);
  }
}
@keyframes shape-1 {
  0% {
    transform: translateX(calc(var(--shape-size) * -0.52)) rotate(-100deg);
  }
  100% {
    transform: translateX(calc(var(--shape-size) * -0.52)) rotate(-460deg);
  }
}
@keyframes shape-2 {
  0% {
    transform: translateX(calc(var(--shape-size) * 0.52)) rotate(-100deg);
  }
  100% {
    transform: translateX(calc(var(--shape-size) * 0.52)) rotate(-460deg);
  }
}
@keyframes shape-3 {
  0% {
    transform: translateY(calc(var(--shape-size) * -0.9)) rotate(-100deg);
  }
  100% {
    transform: translateY(calc(var(--shape-size) * -0.9)) rotate(-460deg);
  }
}
@keyframes shape-4 {
  0% {
    transform: translateY(calc(var(--shape-size) * 0.9)) rotate(-100deg);
  }
  100% {
    transform: translateY(calc(var(--shape-size) * 0.9)) rotate(-460deg);
  }
}/*# sourceMappingURL=main.css.map */