:root {
  --breakpoint-small: 40em;
  --breakpoint-medium: 55em;
}

$breakpoints: (
  "tiny": 26.625em,
  "small": 40em,
  "medium": 55em,
  "large": 90em,
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
