html {
  scroll-behavior: smooth;
  scrollbar-color: hsl(var(--c-accent-main-high)) hsl(var(--c-accent-dark-low));

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      86deg,
      hsl(var(--c-accent-main-high)),
      hsl(var(--c-accent-main-low))
    );
  }
  &::-webkit-scrollbar-track {
    background: hsl(var(--c-accent-dark-low));
  }
}
body {
  font-family: var(--ff-body);
  color: hsl(0 0% 100%);
  background-color: hsl(0 0% 14%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}
*::selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-main-high));
}
