@use "./breakpoints" as *;
@use "./utils" as *;

html {
  scroll-behavior: smooth;
  scrollbar-color: hsl(var(--c-accent-medium)) hsl(var(--c-accent-dark));

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      86deg,
      hsl(var(--c-accent-light)),
      hsl(var(--c-accent-medium))
    );
  }
  &::-webkit-scrollbar-track {
    background: hsl(var(--c-accent-dark));
  }
}
body {
  font-family: var(--ff-body);
  color: hsl(var(--c-text-main));
  overflow-x: hidden;
  min-width: 100vw;
  background: hsl(var(--c-bg-main-light));
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
}
*::selection {
  color: hsl(var(--c-text-light));
  background-color: hsl(var(--c-accent-medium));
}

section {
  position: relative;
  z-index: 2;
  width: 100%;
}
a {
  color: hsl(var(--c-accent-medium));
  font-weight: 700;
  text-decoration: none;
  @include fadeColor(50ms);

  .blend {
    @include fadeColor(50ms);
  }
  &:hover {
    color: hsl(var(--c-accent-bright));
    .blend {
      background-color: hsl(var(--c-accent-bright));
    }
  }
}
