@use "./utils" as *;

a {
  text-decoration: none;

  position: relative;
  &::after {
    @include fade(0ms, 75ms);

    content: "";
    position: absolute;
    left: -0.5ch;
    top: 40%;
    z-index: -1;

    width: calc(100% + 1ch);
    height: 0.75rem;
    background-color: hsl(var(--c-text-light) / 15%);

    transform: scaleX(0%);
    transform-origin: left;
  }

  @include fade(250ms);
  &:hover {
    color: hsl(var(--c-text-light));

    &::after {
      @include fade(250ms);
      transform: scaleX(100%);
    }
  }
}
