@use "./utils" as *;

nav a {
  text-decoration: none;

  position: relative;
  &::after {
    @include fade(0ms, 75ms);

    content: "";
    position: absolute;
    left: -0.5ch;
    top: 40%;
    z-index: -1;

    width: calc(100% + 1ch);
    height: 0.75rem;
    background-color: hsl(var(--c-text-light) / 15%);

    transform: scaleX(0%);
    transform-origin: left;
  }

  @include fade(250ms);
  &:hover {
    color: hsl(var(--c-text-light));

    &::after {
      @include fade(250ms);
      transform: scaleX(100%);
    }
  }
}

.hero a {
  color: hsl(var(--c-text-medium));
  background: hsl(var(--c-bg-light));
  text-decoration: none;
  padding: 0.6rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;

  box-shadow: 2px 2px 8px hsl(0 0% 0% / 25%);

  transition: transform 100ms ease-out;
  &:hover {
    transform: translateY(-0.1rem);
  }
}
