@use "../globals/breakpoints" as *;

$content-outer-padding: 3rem;
$content-max-width: 50rem;

.scroll-destination {
  height: var(--header-height);
}

@mixin fade($duration: 250ms, $delay: 0ms) {
  transition: color $duration ease-out $delay,
    background-color $duration ease-out $delay,
    transform $duration ease-out $delay;
}
@mixin fadeColor($duration: 250ms, $delay: 0ms) {
  transition: color $duration ease-out $delay,
    background-color $duration ease-out $delay;
}

.transparent {
  background: transparent;
}
.unselectable {
  user-select: none;
}
.uppercase {
  text-transform: uppercase;
}
.padded-container {
  width: 100%;
  max-width: $content-max-width;
  padding-inline: $content-outer-padding;
  margin-inline: auto;
}
